:root {
    --primary-color: #2E0014;
    --secondary-color: #9197AE;
    --background-color: #EEEEEE;
    --font-family-principal: "Bebas Neue", serif;
    --font-family-text: "Raleway", serif;
    --third-color:#27474E;
}

html {
    font-size: 80%; /* Reduce el tamaño de todo el texto */
}

* {
    margin: 0;
    padding: 0;
}

/*To erase the awful part of the naw*/
a {
    text-decoration: none;  
}
ul{
    list-style: none;
}

/*This is for the design with JavaScript*/
#menu {
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: var(--primary-color);
	color: var(--background-color);
    
}
/*This is for the three lines in the page to make it absolute in the top right of the page*/
#menu::before {
	content: "≡";
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    font-size: 2rem; 
}
#menu.show::before {
	content: "X";
}

/*The navigation part of the page*/

.navigation {
    background-color: var(--background-color);
	margin: 0 auto;
	max-width: 760px;
    font-family: var(--font-family-text);
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--primary-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
	text-decoration: lightseagreen;
	background-color: var(--third-color);
	color: var(--background-color);
}
.show li {
	display: block;
}

/*This part of the code is for The above part of the html file*/

header{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    display: grid;
   
}
h1{
    font-family: var(--font-family-principal);
    color: var(--background-color);
    font-size:40px;
}

h2{
    font-family: var(--font-family-principal);
    font-size: 35px;
    color: var(--primary-color);
}



/*This is the code for the hero image*/
main{
    position: relative;
    height: 130vh;
}
picture img {
    display: block;;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
}

.form-box {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    font-family: var(--font-family-text);
    justify-items: center;
    align-items: center;
}

.form-box img {
    border-radius: 15px;
    width: 100%;
    height: 300px;
    object-fit: cover
}

h2 {
    font-family: var(--font-family-principal);
    font-size: 50px;
    color: var(--primary-color);
    text-align: center;
}

.note {
    color: var(--primary-color);
    font-weight: lighter;
}
.form-box form {
    padding: 0 1em 1em;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

fieldset label {
    display: flex;
    font-weight: lighter;
}

input[type="radio"]{
    margin: 0 6px 0 0;
}

#name, 
#lname,
#number,
#username,
fieldset{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 0 2rem;
}

button[type="submit"]{
    background-color: var(--primary-color);
    width: 150px;
    margin: 0 auto;
    color: var(--background-color);
    padding: 5px;
    border-radius: 0.5em;
    font-size: 1.3em;
    font-family: var(--font-family-text);
}

button[type="submit"]:hover {
    background-color: var(--third-color);
}

/*The main part of the review.html*/
.review{
    height: 65vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.review section h2 {
    font-family: var(--font-family-text);
    font-size: 2rem;
}


.review section p {
    font-family: var(--font-family-text);
    text-align: center;
    font-size: 1.2rem;
}


/*This code is for the footer of the pages*/

footer{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    font-family: var(--font-family-text);
}
.footer2{
    display: grid;
    
    align-items: center;
    place-items: center;
    gap: 10px;
}

.footer2 h1{
    flex: 1;
    text-align: left;
    
}

.footer2 nav{
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    
    background-color: var(--background-color);
    color: var(--primary-color);
}

.navi-2 li{
    padding: 10px;
}
.navi-2 {
    display: flex;
   
    list-style: none;
    padding: 0;
}

.navi-2 a{
    color: var(--primary-color);
    font-weight: bold;
}

.footer-social{
    flex: 1;
    justify-self: center;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 5px;
}
.footer-social img {
    width: 40px; /* Ajusta el tamaño de los iconos */
    height: auto;
}

.navi-2 li:hover, .navi-2 a:hover, navi-2 a:active {
	background-color: var(--third-color);
	color: var(--background-color);
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 1em;
    text-align: center;
}

@media (min-width: 800px) {
    /*To resize the font size of all the html*/

    html {
        font-size: 100%; 
    }
    /*headers*/
    header{
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: 1rem;
        display: grid;
        grid-template-columns: 75% 25%;
    }
    h1{
        font-family: var(--font-family-principal);
        font-size:50px;
    }
    
    h2{
        font-family: var(--font-family-principal);
        font-size: 50px;
        color: var(--primary-color);
    }

    /*For erase and mantain the navigation bar in the computer screen*/
    .navigation {
		display: flex;
        height: 100%;
        align-items: center;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
        height: 100%;
	}

    /*To erase the part of the three lines in the page*/
    #menu::before {
        content: none;
    }
    #menu.show::before {
	content: none;
    }

    /*Footer large view*/
    .footer2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer2 nav{
        background-color: var(--primary-color);
    }
    .navi-2 a{
        color: var(--background-color);
        font-weight: bold;
    }
    .footer-social{
        flex: 1;
        justify-self: end;
    }

    /*For the main form*/
    main{
        height: 90vh;
    }
    .form-box{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr;
    }
    .form-box img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
    .review{
        align-items: center;
    }
    .review section {
        width: 800px;
    }

}
