:root {
    --primary-color: #2E0014;
    --secondary-color: #9197AE;
    --background-color: #EEEEEE;
    --font-family-principal: "Bebas Neue", serif;
    --font-family-text: "Raleway", serif;
    --third-color:#27474E;
}

html {
    font-size: 80%; /* Reduce el tamaño de todo el texto */
}

* {
    margin: 0;
    padding: 0;
}

/*To erase the awful part of the naw*/
a {
    text-decoration: none;  
}
ul{
    list-style: none;
}

/*This is for the design with JavaScript*/
#menu {
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: var(--primary-color);
	color: var(--background-color);
    
}
/*This is for the three lines in the page to make it absolute in the top right of the page*/
#menu::before {
	content: "≡";
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    font-size: 2rem; 
}
#menu.show::before {
	content: "X";
}

/*The navigation part of the page*/

.navigation {
    background-color: var(--background-color);
	margin: 0 auto;
	max-width: 760px;
    font-family: var(--font-family-text);
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--primary-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
	text-decoration: lightseagreen;
	background-color: var(--third-color);
	color: var(--background-color);
}
.show li {
	display: block;
}

/*This part of the code is for The above part of the html file*/

header{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    display: grid;
   
}
h1{
    font-family: var(--font-family-principal);
    color: var(--background-color);
    font-size:40px;
}

h2{
    font-family: var(--font-family-principal);
    font-size: 35px;
    color: var(--primary-color);
}

/*This is for the design of the main of the html*/

/*Section 1*/
.section-1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 1.3rem;
}

.section-1 div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    justify-content: center;
    
}

.section-1 div p {
    font-family: var(--font-family-text);
    font-size: 14px;
}

.section-1 picture{
    grid-row: 1;
}

.hero-image{
    
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/*Section 2*/
.section-2{
    height: 40vh;
    background-color: var(--third-color);
    color: var(--background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
    box-shadow: 0 0 30px black
}

.section-2 h2 {
    color: var(--background-color)
}

.section-2 p {
    font-family: var(--font-family-text);
    font-weight: bold;
    font-size: 15px;
}

/*Section 3*/
.section-3{
    display: grid;
    padding: 1rem;
    text-align: center;
    gap: 30px;
}

.section-3 figure{
    padding: 1rem;
    background-color: var(--background-color);
    font-family: var(--font-family-text);
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}


.section-3 figure img {
    width: 100%;
    max-width: 300px;
}

/*This code is for the footer of the pages*/

footer{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    font-family: var(--font-family-text);
}
.footer2{
    display: grid;
    
    align-items: center;
    place-items: center;
    gap: 10px;
}

.footer2 h1{
    flex: 1;
    text-align: left;
    
}

.footer2 nav{
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    
    background-color: var(--background-color);
    color: var(--primary-color);
}

.navi-2 li{
    padding: 10px;
}
.navi-2 {
    display: flex;
   
    list-style: none;
    padding: 0;
}

.navi-2 a{
    color: var(--primary-color);
    font-weight: bold;
}

.footer-social{
    flex: 1;
    justify-self: center;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 5px;
}
.footer-social img {
    width: 40px; /* Ajusta el tamaño de los iconos */
    height: auto;
}

.navi-2 li:hover, .navi-2 a:hover, navi-2 a:active {
	background-color: var(--third-color);
	color: var(--background-color);
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 1rem;
    text-align: center;
}


@media (min-width: 800px) {
    /*To resize the font size of all the html*/

    html {
        font-size: 100%; 
    }
    /*headers*/
    header{
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: 1rem;
        display: grid;
        grid-template-columns: 75% 25%;
    }
    h1{
        font-family: var(--font-family-principal);
        font-size:50px;
    }
    
    h2{
        font-family: var(--font-family-principal);
        font-size: 50px;
        color: var(--primary-color);
    }

    /*For erase and mantain the navigation bar in the computer screen*/
    .navigation {
		display: flex;
        height: 100%;
        align-items: center;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
        height: 100%;
	}

    /*To erase the part of the three lines in the page*/
    #menu::before {
        content: none;
    }
    #menu.show::before {
	content: none;
    }

    /*Section 1*/
    .section-1{
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        height:90vh;
        gap: 30px;
        padding: 1rem 1rem 0;
    }
    .section-1 picture{
        grid-column: 2;
    }

    .section-1 div p {
        font-family: var(--font-family-text);
        font-size: 20px;
    }
    .hero-image{
        height: 700px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    /*Section 2*/
    .section-2 p {
        font-family: var(--font-family-text);
        font-weight: bold;
        font-size: 20px;
    }
    

    /*For the  third section*/
    .section-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .section-3 h2{
        grid-column: 1/4;
    }

    /*Footer large view*/
    .footer2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer2 nav{
        background-color: var(--primary-color);
    }
    .navi-2 a{
        color: var(--background-color);
        font-weight: bold;
    }
    .footer-social{
        flex: 1;
        justify-self: end;
    }
}
